<form action="/search" method="POST" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input name="search_input" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search for Artist"
    aria-label="Search for Artist">
</form>