<h2>Album Details</h2>

<h2>Comments</h2>
<% for (let i = 0; i < ; i++) { %>
  <p><%= content %></p>
  <p> - <%= name %></p>
<% } %>

<h3>Create a New Comment</h3>
<form action="/comments" method="POST">
  <div class="form-group">
    <label for="title">Full Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="form-group">
    <label for="content">Comment</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
  </div>
  <!-- value needs updating to reflect album masterId -->
  <input type="hidden" name="articleId" value="<%= article.id %>">
  <input type="submit" class="btn btn-primary">
</form>