<h2>Favorites</h2>

<% for (let i = 0; i < favorites.length; i++) { %>
    <p> <%= favorites[i].album_title %> </p>
    <a class="btn btn-primary" href= "/favorites/<%= favorites[i].masterId %>" > See Details </a>
    <form method="POST" action="/favorites/delete>
        <input hidden type="text" name="masterId" value="<%= favorites[i].masterId %>">
        <button class="btn btn-primary" type="submit">Remove From Favorites</button>
      </form>
<% } %>