<h2>Favorites</h2>

<% for (let i = 0; i < favorites.length; i++) { %>
  <section class="marginLg">
    <h4> <%= favorites[i].album_title %> </h4>
    <div CLASS="flex justifyCenter">
      <a class="btn btn-primary" href= "/favorites/<%= favorites[i].masterId %>" > See Details </a>
      <form method="POST" action="/favorites?_method=DELETE">
        <input hidden type="text" name="id" value="<%= favorites[i].id %>">
        <button class="btn btnGrey" type="submit">Remove From Favorites</button>
      </form>
    </div>
  </section>
<% } %>