<!-- <h1>Welcome to The Green Room!</h1> -->

<h5>How to use The Green Room:</h5>
<ul>
  <li>Search for artists using the search bar.</li>
  <li>See an album you like? Add it to your favorites!</li>
  <li>Go to your favorites list and see details on each album, including tracklists and videos!</li>
</ul>