<h1>Welcome to The Green Room!</h1>

<h5>Search for artists using the search bar.
<br>
See an album you like? Add it to your favorites!
<br>
Go to your favorites list and see details on each album, including tracklists and videos!</h5>
