<h1>Welcome to The Green Room!</h1>

<p>Search for artists using the search bar.</p>
<p>See an album you like? Add it to your favorites!</p>
<p>Go to your favorites list and see details on each album, including tracklists and videos!</p>
