<h2>Search Results</h2>

<% for (i=0; i < discogs.length; i++) { %>
    <p>Album Title: <%= discogs[i].title %> </p>
    <p>Release Year: <%= discogs[i].year %></p>
    <p>Genre: <%= discogs[i].genre %></p>
    <form method="POST" action="/favorites">
        <input hidden type= "text" name="" value="discogs[i].master_id">
        <button class="" type="submit">Add to Favorites</button>
    </form>
    <img src= "<%=discogs[i].cover_image%>" >

<% } %>